* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
header, footer{
    width: 100%;
    height: 20%;
    background-color: hsl(20, 95%,75%);
}
main{
    height: 60%;
    width: 100%;
    padding: 20px;
}
.WorkSpace{
    height: 100%;
    width: 500px;
    margin: auto;
    padding: 20px;
    border: 3px dotted hsl(220, 90%, 60%);
    padding: 20px;
}

.IpBox{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    padding: 7px;
}
.ButtonBox{
    display: flex;
    justify-content: flex-end;

}
#Submit{
    font-size: 20px;
    width: 85px;
    height: 30px;
    background-color: hsl(130, 80%, 70%);
    border: 1px solid white;
    transition: transform 220ms ease-in-out, color 220ms linear;
    transform: translateX(-30px);
    will-change: transform;
}
