
    * {
        font-family: 'Rubik', sans-serif;
        font-size: 20px;
        box-sizing: border-box;
    }
    body{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    header, footer{
        text-align: center;
        display: block;
        color: white;
        width: 100%;
        background-color:hsl(220, 50%, 50%);
    }
    header{
        height: 10%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        font-size: 40px;
    }
    footer{
        position: absolute;
        bottom: 0;
        padding: 7px
    }
    main{
        background-color: hsl(220, 80%, 90%);
        width: 700px;
        margin: 20px auto;
        padding: 20px;
        border-radius: 20px;
        padding: 20px;
    }
    .IpBox, .Submit{
        color: black;
        width: 100%;
        padding: 7px;
    
    }
    .IpBox{
        background-color:white;
        margin-bottom: 20px;
        border: 2px solid black;
    }
    .Submit{
        padding: 7px;
        background-color: hsl(130, 80%, 70%);
        border: 1px solid whitesmoke;
    }
    


    
    